<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">ToDo</a>
    </div>
</nav>

<div class="container text-center mt-4">
  <div>
    <p class="lead fw-bolder">User: {{ username }}</p>
    <p class="lead">{{ toDosCount }} incomplete tasks</p>
  </div>

  <div class="table d-flex justify-content-center mt-5">
    <table class="table table-striped table-hover table-lg">
      <thead>
        <tr class="bg-dark text-light">
          <th scope="col">#</th>
          <th scope="col">Task</th>
          <th scope="col">Check as Done</th>
          <th scope="col">Done</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ item.task }}</td>
          <td>
            <input type="checkbox" name="complete" class="form-check-input" id="complete" [(ngModel)]="item.complete">
          </td>
          <td [ngSwitch]="item.complete">
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchDefault>No</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
